.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("..//icons.svg");
    background-repeat: no-repeat;
    background-size: 3em 44.4em;
}

.no-svg .icon:before {
    background-image: url("..//icons.png");
}



  .icon.arrow-bottom:before {
      background-position: 0em 0em;
      width: 0.7em;
      height: 3em;
  }




  .icon.arrow-left:before {
      background-position: 0em -3em;
      width: 3em;
      height: 0.7em;
  }




  .icon.arrow-right:before {
      background-position: 0em -3.7em;
      width: 3em;
      height: 0.7em;
  }




  .icon.arrow-top:before {
      background-position: 0em -4.4em;
      width: 0.7em;
      height: 3em;
  }




  .icon.icons:before {
      background-position: 0em -7.4em;
      width: 3em;
      height: 37em;
  }





